.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container input {
    margin: 0 10px;
  }
  
  .books-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  .book-item {
    width: calc(90% / 4);
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f4f4f4;
  }
  
  
  .book-item img {
    width: 50%;
    display: block;
    margin: 0 auto;
}